init:
  - git config --global core.autocrlf input
build_script:
  - cmd: build.cmd NuGet
test: off
version: 0.0.2.{build}
artifacts:
  - path: '**\temp\TestResults\*.*'
    name: testResults

  - path: '**\bin\**\*.nupkg'
    name: bin
