source https://nuget.org/api/v2

nuget Akka 1.0.5
nuget Akka.TestKit 1.0.5
nuget Akka.TestKit.Xunit2 1.0.5
nuget DBHelpers ~> 1.1
nuget FSharp.Formatting
nuget MySql.Data 6.9.8
nuget NSubstitute 1.9.2.0
nuget xunit.runner.console 2.1
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx