<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.4" targetFramework="net46" />
  <package id="DBHelpers" version="0.9.10.0" targetFramework="net46" />
  <package id="murmurhash-net" version="1.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
</packages>